body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.marketing-container {
  max-width: 400px;
  max-height: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0marketing-1);
  margin-bottom: 100px;
}

.marketing-header {
  text-align: center;
  margin-bottom: 20px;
}

.marketing-header h1 {
  color: #333333;
  font-size: 24px;
  margin-top: 0;
}

.marketing-product-image {
  max-width: 400px;
  max-height: 500px;
  height: auto;
  display: block;
  margin: 20px auto;
}

.marketing-cta-button {
  display: block;
  background-color: #ff3c6c;
  color: #ffffff;
  padding: 15px;
  margin-left: 130px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.send-email-button {
  background-color: #ff3c6c;
  color: #ffffff;
  padding: 15px;
  margin-left: 130px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.marketing-footer {
  text-align: center;
}

.marketing-footer p {
  color: #666666;
}

/* Forms */
.form-label {
  color: black;
  margin-bottom: 5px;
}

.form-input,
.form-textarea {
  background-color: white;
  width: 300px;
  padding: 10px;
  color: black;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #ff3c6c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #f8255a;
}

.textarea {
  display: table-footer-group;
}
